<<<<<<< HEAD
=======
<<<<<<< HEAD
koki.takahashi
=======
masato
>>>>>>> origin/develop
>>>>>>> 0c7f53481874633c1c297703a638a67984f95253
<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <%= render "layouts/header" %>
    </div>
    <%= yield %>
  </body>
</html>
